@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC|Darker+Grotesque&display=swap');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.leftHeader {
  height: auto;
  width: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightInfo {
  height: 100vh;
  width: 50%;
  background: linear-gradient(rgb(0,0,0,0.25), rgb(0,0,0,0.5)), url(./sunnyDay-min.jpg);
  background-size: cover;
}

.App-link {
  color: #61dafb;
}

.weatherApp-title {
  color: cornflowerblue;
  text-shadow: 1px 3px 5px #ccc;
}

.weatherApp-title h1 {
  font-size: 6rem;
}

.rightInfo .section {
  background: rgb(240, 248, 255, .70);
  height: 100%;
}

.cityCountry {
  background-color: transparent!important;
  border: none;
  padding: 1rem;
  margin: 2rem .75rem;
  border-bottom: 5px solid cornflowerblue;
  font-size: 1.25rem;
  color: black;
}

.getWeather {
  border: none;
  padding: 1rem;
  box-shadow: 0px 5px 6px #000000cc;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 1rem;
  background: cornflowerblue;
  color: white;
}

td {
  width: 250px;
  padding: 1rem;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya Sans SC', sans-serif;
}

.weatherApp-title .bordered {
  border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    color: aquamarine;
    font-size: 4.5rem;
    text-transform: uppercase;
    text-shadow: 1px 3px 5px #ccc;
    font-family: 'Alegreya Sans SC', sans-serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
